body {
  background-color: rgb(0, 28, 88);
  font-family: Arial, helvetica, sans-serif;
  color: rgb(200, 206, 211);
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
}

h1 {
  color: rgb(165, 1, 138);
  text-align: center;
  font-size: 70px;
}

h2 {
  color: blueviolet;
  border-bottom: 5px solid rgb(2, 39, 2);
  text-align: left;
}

h3 {
  color: purple;
}

h4 {
  color: antiquewhite;
}

p {
  font-size: 18px;
  line-height: 40px;
}

img {
  border-radius: 800%;
  width: 10%;
  height: 10%;
}

link {
  color: blue;

}

footer {
  text-align: center;
  color: brown;
}