body {
  background-color: rgb(242, 16, 242);
  font-family: Arial, Helvetica, sans-serif;
  color: #593c3c;
  margin: 40px;
}

h1 {
  color: #007994;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: #444;
  border-bottom: 2px solid #0078d7;
  font-size: 30px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}